* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 960px;
  margin: 10vh auto;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  width: 50%;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > * {
  flex-wrap: wrap;
  margin-top: 40px;
}

h1 {
  font-size: 72px;
  text-align: center;
}

input {
  padding: 10px 45px;
  box-shadow: 0.2rem 0.3rem 0.4rem #000000;
  border: 2px solid #000000;
  border-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 25px;
}

.container > button {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 8px 52px;
  box-shadow: 0.2rem 0.3rem 0.4rem #000000;
  border: 1px solid #000000;
  border-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 25px;
}

#game-container {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 960px;
  margin: 10vh auto;
  border: 2px solid black;
  display: none;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.announce {
  width: 100%;
}

.console-wrapper {
  width: 40%;
  border: 1px solid black;
  /* padding: 50px 100px; */
  margin: 50px 0px;
}

.name-box {
  border-bottom: 1px solid black;
  padding: 5px;
}

.points h1 {
  font-size: 172px;
}

.points {
  width: 100%;
  border-bottom: 1px solid black;
}

.console {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap: 20px;
  justify-content: center;
}

.game-action {
  width: 90px;
  height: 90px;
}

.game-action:disabled {
  border: 2px solid blue;
}

/* Aux - Start */

.highlight {
  border: 2px solid red;
  /* width: 100%; */
}

.score-alert {
  position: relative;
  z-index: 1;
}

.btnBot {
  pointer-events: none;
}

/* Aux - End */

header {
  border: 2px solid green;
}
